<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Nationalite</th>
                        <th>Delete</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody >
                    <tr *ngFor="let arbitre of Data">
                        <td>{{Data.idArbitre}}</td>
                        <td>{{Data.nom}}</td>
                        <td>{{Data.nationalite}}</td>
                        <td><button type="button" class="btn btn-danger" (click)="open(deletemodal,arbitre)">delete</button></td>
                        <td><button type="button" class="btn btn-warning" (click)="open(modifiermodal,arbitre)">modifier</button></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-success"  (click)="open1(ajoutermodal)">Ajouter Arbitre</button>
        </div>
    </div>
</div>

<ng-template #deletemodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Arbitre</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete arbitre {{Data.nom}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    <button type="button" (click)="deleteArbitre(Data.idArbitre)" class="btn btn-danger">Delete</button>
  </div>
</ng-template>

<ng-template #modifiermodal let-modal>
  <form #modifierform="ngForm">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modifier Arbitre</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    
      <div class="mt-2">
          <label >ID Arbitre</label>
          <input disabled type="text" ngModel="{{Data?.idArbitre}}" name="idArbitre" class="form-control">
      </div>  
      <div class="mt-2" >
          <label >Nom Arbitre</label>
          <input type="text" ngModel="{{Data?.nom}}" name="nom" class="form-control">
      </div>  
  
      <div class="mt-2">
          <label >Nationalite Arbitre</label>
          <input type="text" ngModel="{{Data?.nationalite}}" name="nationalite" class="form-control">
      </div>
  
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    <button type="submit" (click)="modifierArbitre(modifierform.value)" class="btn btn-warning">Modifier</button>
  </div>
</form>
</ng-template>


<ng-template #ajoutermodal let-modal>
  <form #ajouterform="ngForm" (ngSubmit)="addArbitre(ajouterform)">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter Arbitre</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    
      <div class="mt-2" >
          <label >Nom Arbitre</label>
          <input type="text" ngModel #nom="ngModel" name="nom" class="form-control">
      </div>  
  
      <div class="mt-2">
          <label >Nationalite Arbitre</label>
          <input type="text" ngModel #nationalite="ngModel" name="nationalite" class="form-control">
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">close</button>
    <button class="btn btn-success">Ajouter</button>
  </div>
</form>
</ng-template>




  <!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mt-2">
              <label >ID Arbitre</label>
              <input type="number"[(ngModel)]= "Data.idArbitre" name="idArbitre" class="form-control">
          </div>  
          <div class="mt-2">
             <button type="submit"  class="btn btn-success">Delete</button>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modifier Modal -->
<div class="modal fade" id="modifierModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mt-2">
              <label >ID Arbitre</label>
              <input type="number"[(ngModel)]= "Data.idArbitre" name="idArbitre" class="form-control">
          </div>  
          <div class="mt-2" >
              <label >Nom Arbitre</label>
              <input type="text"[(ngModel)]= "Data.nom" name="nom" class="form-control">
          </div>  
      
          <div class="mt-2">
              <label >Nationalite Arbitre</label>
              <input type="text" [(ngModel)]= "Data.nationalite" name="nationalite" class="form-control">
          </div>
      
          <div class="mt-2">
             <button type="submit"  class="btn btn-success">Modifier</button>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<!-- Ajouter Modal -->
<div class="modal fade" id="ajouterModal" tabindex="-1" role="dialog" aria-labelledby="ajouterModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ajouterModalLabel">Ajouter Arbitre</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mt-2" >
              <label >Nom Arbitre</label>
              <input type="text"[(ngModel)]= "Data.nom" name="nom" class="form-control">
          </div>  
      
          <div class="mt-2">
              <label >Nationalite Arbitre</label>
              <input type="text" [(ngModel)]= "Data.nationalite" name="nationalite" class="form-control">
          </div>
      
          <div class="mt-2">
             <button type="submit"  class="btn btn-success">Ajouter</button>
          </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
